#footer {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 12px;
	font-weight:bold;
	font-family: "Calibri";
	background-color:#FFFFFF;
	border-radius: 10px;
	border:1px solid #C8C9CA;
}